<div class="dashboard card">
  <h1>Bienvenido, {{ user?.name || user?.email }}</h1>
  <p>Tu sesión está activa.</p>

  <div style="margin-top:20px;">
    <button class="small-btn" routerLink="/login">Ir al Login</button>
    <button class="ghost" (click)="logout()">Cerrar sesión</button>
  </div>
</div>

<!-- ===========================
     GALERÍA / CARRUSEL
============================= -->
<div class="gallery-carousel" *ngIf="user?.gallery?.length">
  <h3>Mis reconocimientos</h3>

  <div class="carousel-wrapper">

    <!-- Contenedor principal -->
    <div class="premium-carousel">
      <img
        #carouselImage
        [src]="user?.gallery?.[currentIndex]"
        class="carousel-photo"
      />
    </div>

    <!-- Flecha derecha -->
    <button class="arrow right" (click)="nextImage()">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <!-- Dots -->
  <div class="dots">
    <span
      *ngFor="let img of user?.gallery; let i = index"
      class="dot"
      [class.active]="i === currentIndex"
      (click)="goToImage(i)"
    ></span>
  </div>

</div>
